h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: tomato;
    text-shadow: 2px 2px;
}

p {
    font-size: small
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-weight: 200; color: brown;}

h3 {
    font-style: italic; font-weight: 100; color: darkred;}

body {
    margin: 30px 30px;}

footer p {font-size: x-small;}